<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8f3efaf7-7a45-4ccf-8964-4a712a823f83" Version="1.0.0.0" Publisher="CN=Nedko" />
  <Properties>
    <DisplayName>Book Manager</DisplayName>
    <PublisherDisplayName>Nedko</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Book Manager" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Book Manager" ForegroundText="dark" BackgroundColor="#ffffff" ToastCapable="false">
        <DefaultTile WideLogo="images\widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#464646" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>